In [1]:
import os

In [4]:
pwd

'C:\\Users\\hp'

In [ ]:
# Data / Variable types 

# Tupple
# List
# Dictionary
# Set

In [13]:
# Tupple is one dimensional representation of the data which can be mixed type and its immutable

tup1 = (7456, 10, 30, 20, 44, "Pune")

In [14]:
tup1

(7456, 10, 30, 20, 44, 'Pune')

In [15]:
print(tup1)

(7456, 10, 30, 20, 44, 'Pune')

In [16]:
type(tup1)

tuple

In [17]:
len(tup1) # its used to get number of elements in the variable

6

In [19]:
tup1[5] # It print the element which we want to print from tupple

'Pune'

In [20]:
tup2 = (10, 10, 22,33,43,33,56,78,10)

In [21]:
tup2.count(33) # It gives count of enlement

2

In [23]:
tup2.index(33) # It gives the index position # in python indexing start from 0

3

In [25]:
a = 10
b = 20
c = 30

In [26]:
print(a)
print(b)
print(c)

10
20
30

In [29]:
name = "Mra"
city = "Pune"

print("His name is",name,"and he lives is city",city )

His name is Mra and he lives is city Pune

In [30]:
print( "His name is {}, and he lives in city named {}".format(name,city)) # .format printing  (dot format printing)

His name is Mra, and he lives in city named Pune

In [31]:
tup2 = (10, 10, 22,33,43,33,56,78,10)

In [32]:
tup2[3]

33

In [33]:
# List 

# It is one dimensional representation of data of mixed type and its immutable

l1 = [ 5,6,6,78,910, "data", 100]
print(l1)
type(l1)

[5, 6, 6, 78, 910, 'data', 100]

list

In [34]:
len(l1)

7

In [35]:
l1[3]

78

In [36]:
l1[3] = 666666 # list is mutable u can change the element giving the indexing number

In [37]:
l1

[5, 6, 6, 666666, 910, 'data', 100]

In [38]:
l1.append(99999999)  # it add the values at the end in the list

In [39]:
l1

[5, 6, 6, 666666, 910, 'data', 100, 99999999]

In [40]:
abc = ( 10, 30, 44, 5 ,6, 67, 88)
type(abc)

tuple

In [41]:
l2 = list(abc) # we can create the list  using the list functon also

In [43]:
type(l2)

list

In [70]:
l3 = list( [20,4,4,5,7,8,9]) # another method of creating list

In [71]:
type(l3)

list

In [72]:
l3.count(4)

2

In [73]:
l3.index(20)

0

In [74]:
l3.pop()  # will remove the last 3 elements3

9

In [75]:
l3

[20, 4, 4, 5, 7, 8]

In [76]:
l3.pop()
l3

[20, 4, 4, 5, 7]

In [100]:
l3.remove(5) # it will remove the elements from list

In [101]:
l3

[20, 4, 4, 7]

In [ ]:
# Dictionary its the representation of the data in key value format,  it is also used to create the dataframe

In [59]:
dict1 = { "Name": "Mra"  , "Age":30  , "City": "Pune"}

In [60]:
type(dict1)

dict

In [63]:
dict1.keys()

dict_keys(['Name', 'Age', 'City'])

In [64]:
dict1.values()

dict_values(['Mra', 30, 'Pune'])

In [81]:
# a key can also have multiple values 

emply_details = { "Name" : ("Mra","Mrb", "Mrc", "Mrd"),
               "Age" : (19,20,21,22),
                "Department" : ("It", "Fin", "Accounts", "Research")
               }

In [82]:
emply_details.keys()

dict_keys(['Name', 'Age', 'Department'])

In [83]:
emply_details.values()

dict_values([('Mra', 'Mrb', 'Mrc', 'Mrd'), (19, 20, 21, 22), ('It', 'Fin', 'Accounts', 'Research')])

In [84]:
import pandas as pd

In [85]:
emply_details_df = pd.DataFrame(emply_details)
emply_details_df

  Name  Age Department
0  Mra   19         It
1  Mrb   20        Fin
2  Mrc   21   Accounts
3  Mrd   22   Research

In [87]:
type(emply_details_df)

pandas.core.frame.DataFrame

In [88]:
emply_details_df.head

<bound method NDFrame.head of   Name  Age Department
0  Mra   19         It
1  Mrb   20        Fin
2  Mrc   21   Accounts
3  Mrd   22   Research>

In [89]:
emply_details_df.tail

<bound method NDFrame.tail of   Name  Age Department
0  Mra   19         It
1  Mrb   20        Fin
2  Mrc   21   Accounts
3  Mrd   22   Research>

In [90]:
emply_details_df.shape

(4, 3)

In [ ]:
# Set 
# Set is one dimensional representaion of unique data which can be of mixed type and indexing not possible

In [92]:
set1 = set([ 1,2,2,2,2,2,23,4,5,6,6,6,6,78,9,10,"Pune"])
print(set1)

{1, 2, 4, 5, 6, 9, 10, 78, 23, 'Pune'}

In [93]:
type(set1)

set

In [ ]:
set1[3] # Indexing is not possible shows error

In [ ]:
# Input and Eval

In [95]:
num = input("enter the number you want to enter")

enter the number you want to enter100

In [96]:
print(num)

100

In [ ]:
num + 100 # It shows the error because the input num is in string

In [97]:
num = eval(input("enter the number you want to enter"))  # Eval preserve the input in which data type you entered

enter the number you want to enter200

In [98]:
print(num)

200

In [99]:
num + 100

300

In [ ]:
# Conditional statements ( if, else and multiple if else)

In [103]:
i = 13

if i < 10:
    print("Number is less than 10")
    print("Number is ", i)
else:
    print("Number is greater than 10 ")
    print("Number is ", i)

Number is greater than 10
Number is  13

In [110]:
# Multiple if else 

city = eval(input("Please enter the name of the city from Mumbai, Delhi, Bangalore, Chennai"))

if city == "Mumbai":
    print("Its financial capital of india")
    print("Its in Maharashtra")
elif city == "Delhi":
    print("Its capital of India")
    print("Its in northern part")
elif city == "Bangalore":
    print("Its IT hub")
    print("Its in Karnataka")
elif city == "Chennai":
    print("Its automobile hub")
    print("Its in Tamilnadu")
else:
    print("This city is not part if my data")
    print("Please enter the valid city name")

Please enter the name of the city from Mumbai, Delhi, Bangalore, Chennai"Bangalore"
Its IT hub
Its in Karnataka

In [111]:
# for loop 

l1 = [ 1,10,9,4,5,11,8]

for j in l1:
    print(j)
    print("Square of num is", j*j)
    print("-------------------")

1
Square of num is 1
-------------------
10
Square of num is 100
-------------------
9
Square of num is 81
-------------------
4
Square of num is 16
-------------------
5
Square of num is 25
-------------------
11
Square of num is 121
-------------------
8
Square of num is 64
-------------------

In [ ]:
# Assignment - Create a list 1 - 50 print the even numbers

In [117]:
list1 = list(range(1 , 51))
list1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [118]:
for num in list1: 
      
    if num % 2 == 0: 
       print(num, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [ ]:
for i in list1:
    if i%2 == 0:
        print("Number is ")